snippet google
	[[http://google.com/search?q=${1:information+retrieval+research+2018}][${0:information retrieval research}]]
snippet cl
	+ TODO Checklist [/]
  	  - [-] Ensure that ~vcs.Repo~ has the PR information if available
snippet kb
	|kb|f
	|-
	|$0
