snippet yn
	/usr/share/doc/dialog/examples/yesno
snippet cl
	/usr/share/doc/dialog/examples/checklist
snippet chk
	/usr/share/doc/dialog/examples/checklist
snippet progress
	/usr/share/doc/dialog/examples/gauge
snippet input
	/usr/share/doc/dialog/examples/inputbox
snippet pause
	/usr/share/doc/dialog/examples/pause
snippet countdown
	/usr/share/doc/dialog/examples/pause
snippet multi-progress
	/usr/share/doc/dialog/examples/mixedgauge
snippet datepicker
	/usr/share/doc/dialog/examples/calendar
