# http://sebastianraschka.com/Articles/2014_python_2_3_key_diff.html#python-2

snippet p3
	print('Python', python_version())
	print('Hello, World!')

	print("some text,", end="")
	print(' print more text on the same line')
