snippet js
	hornZoneEntryPopoverText = self.webTest.browser.execute_script("return RTC_LOCALE_STRINGS['popover_hornZoneEntryEdges'];")
snippet exec
	hornZoneEntryPopoverText = self.webTest.browser.execute_script("return RTC_LOCALE_STRINGS['popover_hornZoneEntryEdges'];")
